/*
Colors
Home #036A8F
Bio #008CAD
Fish #2EA0B9
What #64B8CB
 */

.card {
  align-items: center;
  border: 3px solid rgba(0, 105, 166, 0.5);
  box-shadow: 1px 1px 4px 0 rgba(0, 158, 250, 0.5);
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
  margin: 3% 3%;
  width: 36vw;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

img {
  height: 100px;
  object-fit: contain;
  object-position: center;
  width: 300px;
}

img:hover {
  transform: scale(1.06);
}