.card {
  align-items: center;
  border: 3px solid #2EA0B9;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: center;
  margin: 3% 3%;
  width: 36vw;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

img {
  height: 100px;
  object-fit: contain;
  object-position: center;
  width: 300px;
}

img:hover {
  transform: scale(1.06);
}

h2{
  font-size: medium;
 }
 
 
 h3{
  font-size: x-small;
 }
 
 
 .info-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 