/*
COLORS:
DARK BLUE: #036A8F
MID BLUE: #008CAD
FISH BLUE: #2EA0B9
LIGHTEST: #64B8CB
*/

.App-header {
  align-items: center;
  background-color: #2EA0B9;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 6vmin);
  height: 15vh;
  justify-content: center;
}