/*
Colors
Home #036A8F
Bio #008CAD
Fish #2EA0B9
What #64B8CB
 */

.card {
  align-items: center;
  border: 2px solid #2EA0B9;
  box-shadow: 1px 1px 3px 0 #2EA0B9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45vh;
  justify-content: space-evenly;
  margin: 2% 3%;
  width: 28vw;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.link {
  text-decoration: none;
}

.dashboard-img {
  height: auto;
  max-height: 50%;
  max-width: 50%;
  object-fit: contain;
  object-position: center;
}

.dashboard-img:hover {
  transform: scale(1.06);
}

.info-container {
 align-items: center;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
}

h2 {
  font-size: x-large;
  margin-bottom: 10%;
  width: 110%;
 }
 
 
 .info {
  font-size: small;
  margin: 0%;
 }


 @media (max-width: 868px) {
  .card {
    height: 35vh;
    margin: 1% 1%;
    width: 70vw;
  }

  h2 {
    font-size: x-large;
  }
 }

 @media (min-width: 869) {
  .card {
    align-items: center;
    border: 2px solid #2EA0B9;
    box-shadow: 1px 1px 3px 0 #2EA0B9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45vh;
    justify-content: space-evenly;
    margin: 2% 3%;
    width: 28vw;
  }
  
  .card:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  
  .link {
    text-decoration: none;
  }
  
  .dashboard-img {
    height: auto;
    max-height: 50%;
    max-width: 50%;
    object-fit: contain;
    object-position: center;
  }
  
  .dashboard-img:hover {
    transform: scale(1.06);
  }
  
  .info-container {
   align-items: center;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
  }
  
  h2 {
    font-size: x-large;
    margin-bottom: 10%;
    width: 110%;
   }
   
   
   .info {
    font-size: small;
    margin: 0%;
   }
 }

@media(max-width 468px) {
  .card {
    border: 2px solid #2EA0B9;
    box-shadow: 1px 1px 3px 0 #2EA0B9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2% 0%;
    height: 25vh;
    width: 60vw;
  }

  .card:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  .link {
    text-decoration: none;
  }

  h2 {
    font-size: large;
    margin-bottom: 8%;
    width: 100%;
    }

  .dashboard-img {
    height: auto;
    max-height: 50%;
    max-width: 50%;
    object-fit: contain;
    object-position: center;
  }
    
  .dashboard-img:hover {
    transform: scale(1.06);
  }
    
  .info-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
