/*
Colors
Home #036A8F
Bio #008CAD
Fish #2EA0B9
What #64B8CB
 */

.card {
  align-items: center;
  border: 3px solid rgba(0, 105, 166, 0.5);
  box-shadow: 1px 1px 4px 0 rgba(0, 158, 250, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 45vh;
  justify-content: space-evenly;
  margin: 2% 3%;
  width: 26vw;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

img {
  height: auto;
  max-height: 50%;
  max-width: 50%;
  object-fit: contain;
  object-position: center;
}

img:hover {
  transform: scale(1.06);
}

.info-container {
 align-items: center;
 display: flex;
 flex-direction: column;
}

h2 {
  font-size: large;
  margin: 1% 1%;
  width: 110%;
 }
 
 
 h3 {
  font-size: small;
  margin: none;
 }
 