.single-fish-container {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}

img {
  height: auto;
  margin: 1% 2%;
  object-fit: cover;
  object-position: center;
}