.nutrition-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.name {
  color: #036A8F;
  font-size: x-large;
}

h3 {
  font-size: large;
  margin-top: 3%;
}

@media (max-width: 868px) {
  .nutrition-container {
    width: 90%;
  }

  h3 {
    margin: 1% 3%;
  }
}

@media (max-width: 468px) {
  h3 {
    margin: 1% 3%;
  }
}