.single-fish-container {
  align-content: space-around;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img-info-container {
  display: flex;
  justify-content: center;
}

img {
  height: auto;
  margin: 1% 15% 1% 0%;
  max-height: 60vh;
  object-fit: cover;
  object-position: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.home-btn {
  background-color: #64B8CB;
  border: none;
  box-shadow: 1px 1px 4px 0 rgba(54, 54, 54, 0.5);
  color: #ffffff;
  height: 7vh;
  margin-top: 1%;
  width: 12vw;
}

.home-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}